:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  padding-left: 20px;
  padding-right: 20px;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

#suppliers-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  width: 100%;
  gap: 20px;
  margin-bottom: 30px;
}

#supplier {
  background-color: #1f2937;
  width: 250px;
  height: 300px;
  padding: 30px;
  border-radius: 15px;
  border: 1px solid #6366f1;
  margin-bottom: 30px;
}

#supplier #logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#supplier img {
  width: 64px;
  height: 64px;
  border-radius: 50px;
}

#supplier h2 {
  color: #4f46e5;
  font-weight: bold;
  margin: 10px 0;
  text-align: center;
}

#supplier p {
  color: #d1d5db;
  line-height: 20px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
